.logo {
    width: 30px;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.contenedor {
    min-height: 100vh;
}

.inicial {
    min-height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
    padding: 1%;
    color: #fff;
}

.inicial h1 {
    font-size: 400%;
}

a.itemproduct {
    text-decoration: none;
    color: #000;
}

a.itemproduct p, a.itemproduct h5 {
    text-decoration: none;
    color: #000;
}

.titulos {
    text-align: center;
    padding: 1%;
}

/*promociones*/
.promociones {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    padding: 1%;
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
}

.promociones h3 {
    font-size: 300%;
}

/*productos */
.productos {
    padding: 1%;
}


.productgalery img {
    width: 100%;
}

.productgalery p {
    text-align: justify;
}

.productgalery h3 {
    text-align: center;
    font-size: 90%;
}

.cardproductos {
    width: 100%;
    padding: 1%;
    margin-top: 2%;
}

.cardproductos p {
    text-align: justify;
}

/*cateogira productos*/
.listaproductoscategorias img {
    width: 100%;
}

footer {
    padding: 2%;
    background-color: #f3f3f3;
}

footer img {
    width: 8%;
}
