@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/** ConfiguracionInit inicial**/
.loading {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: center;
}

.loading .loadimg {
    display: block;
    margin: auto;
}

.loadingnone {
    display: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 80%;
}

.logofootercredit {
    width: 3%;
    margin-top: -14px;
}

.redessocialesfootercredits {
    display: block;
    margin: auto;
}

.redessocialesfootercredits li {
    display: inline-block;
}

.titulos {
    text-align: center;
}

.botonsubmit {
    background-color: #8074d3;
    color: #fff;
}

a {
    color: #8074d3;
}

.imagenusuariomain {
    min-height: 40vh;
    /*display: flex;*/
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.imagenusuario {
    width: 100%;
}

.imagenlateral {
    width: 200px;
}

.containermodals {
    padding: 2%;
}

.maincontainer {
    min-height: 89vh;
}

.spaninformativo {
    text-align: center;
    color: rgba(0, 0, 0, .4);
}

.opcproductos .nav-item {
    padding: 1%;
}

.opcs a {
    padding: 1%;
    color: #8074d3;
    text-decoration: none;
}

.footer {
    padding: 1%;
    background-color: #343a40;
    width: 100%;
}

.footer p {
    text-align: center;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 0px;

}

.linkslaterales {
    color: #333;
    text-align: justify;
    text-decoration: none;
}

.linkslaterales:hover {
    text-decoration: none;
}

/** Agregar productos venta **/
.agregarproductoestilo {
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    display: block;

}

.agregarproductoestilo:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    text-decoration: none;
}

.productostiend {
    border: 1px solid rgba(0, 0, 0, .1);
}

.vermasproductos:hover {
    text-decoration: none;

}

/** Agregar productos venta **/
/** detalle de los productos **/
.detallesproductos p {
    text-align: justify;
}

.detallesproductos img {
    width: 100%;
}

.detallesproductos .categoria {
    width: 300px;
}

/** Información de usuarios **/
.detallesusuario {
    min-height: 90vh;
}

.infousuario div {
    padding: 1%;
}

.herramientaslinks {
    display: block;
}

.herramientaslinks li {
    display: inline-block;
    padding: 2%;
}

.perfilperfiles {
    min-height: 80vh;
}
