@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/** Configuracion inicial**/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 100%;
}

.titulos {
    text-align: center;
}

.botonsubmit {
    background-color: #8074d3;
    color: #fff;
}

a {
    color: #8074d3;
}

.imagencategoriasproductos {
    width: 70px;
}

.containermodals {
    padding: 2%;
}

.maincontainer {
    min-height: 84vh;
}

.opcs a {
    padding: 1%;
    color: #8074d3;
    text-decoration: none;
}

.footer {
    with: 100%;
}

.footer p {
    text-align: center;
    color: rgba(0, 0, 0, .5);
}
