@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/** Configuracion inicial**/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 100%;
}

.titulos {
    text-align: center;
}

.botonsubmit {
    background-color: #8074d3;
    color: #fff;
}

a {
    color: #8074d3;
}

.imagenlateral {
    width: 70px;
}

.containermodals {
    padding: 2%;
}

.maincontainer {
    min-height: 84vh;
}

.spaninformativo {
    text-align: center;
    color: rgba(0, 0, 0, .4);
}

.opcproductos .nav-item {
    padding: 1%;
}

.opcs a {
    padding: 1%;
    color: #8074d3;
    text-decoration: none;
}

.footer {
    with: 100%;
}

.footer p {
    text-align: center;
    color: rgba(0, 0, 0, .5);
}

.linkslaterales {
    color: #333;
    text-align: justify;
    text-decoration: none;
}

.linkslaterales:hover {
    text-decoration: none;
}

/** detalle de los productos **/
.detallesproductos p {
    text-align: justify;
}

.detallesproductos img {
    width: 100%;
}

.detallesproductos .categoria {
    width: 10%;
}
