.logo {
    width: 60px;
}

#scrollUp {
    background-color: #42301d;
}

#blockresponsive {
    display: none;
}

.hero-content {
    color: #fff;
}

.hero-content h1 {
    font-size: 700%;
    color: #fff;
}

.hero-content h3 {
    font-size: 300%;
    color: #fff;
}

.pagenofound {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.pagenofound h1 {
    font-size: 500%;
    color: #fff;
    text-shadow: 1px 2px 3px #333;
}

.pagenofound a {
    font-size: 200%;
    text-shadow: 1px 2px 3px #333;
    color: #fff;
}

.essence-btn, .single-product-wrapper .product-img .product-badge.offer-badge {
    background-color: #42301d;
}

.essence-btn:hover {
    background-color: #fff;
    color: #42301d;
}

.header_area .cart-area a span {
    color: #42301d;
}

.single_catagory_area .catagory-content a, .single_catagory_area .catagory-content a:hover {
    color: #42301d;
}

.single_catagory_area2 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 240px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_catagory_area2 .catagory-content a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .logo {
        width: 30px;
    }

    .hero-content h1 {
        font-size: 400%;
        color: #fff;
    }

    .hero-content h3 {
        font-size: 100%;
        color: #fff;
    }

    .pagenofound h1 {
        font-size: 300%;
        color: #fff;
        text-align: center;
        text-shadow: 1px 2px 3px #333;
    }

    .pagenofound a {
        font-size: 200%;
        text-shadow: 1px 2px 3px #333;
        color: #fff;
    }

    #block {
        display: none;
    }

    #blockresponsive {
        display: block;
    }
}
